*{
margin:0;
padding:0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    transition: all 0.2s;
}
main{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    anchor-name: --some-anchor;
    background-color: #000;
color: #ffffff;
}
nav{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 75, 107);
}
h1{
    font-size: 2rem;
    font-weight: 500;
}
h2{
    font-size: 1.4rem;
    font-weight: 100;
}
.nav-right{
    display: flex;
}
.box{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.3s;
}
body .box:hover{
    scale: 1.2;
}
.box:hover{
    anchor-name: --some-anchor;
}
.anchor{
    background-color: rgb(234, 234, 235);
    border-radius: 10px;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    position-anchor: --some-anchor;
    transition: all 0.3s linear;
    mix-blend-mode: exclusion;
}